@import "mocha.css";

* {
  /* font-family: FantasqueSansMono Nerd Font; */
  font-family: MesloLGM Nerd Font;
  font-size: 16px;
  min-height: 0;
  border-radius: 5px;
  margin-right: 3px;
  margin-left: 3px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  background-color: @mantle;
  margin-left: 1rem;
  margin-right: 1rem;
}

#workspaces button {
  background: @base;
  color: @blue;
}

#workspaces button.active {
  color: @base;
  background: @peach;
}


#workspaces button:hover {
  color: @lavender;
  background: @lavender;
}

#custom-os_button {
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: @base;
    background: @sapphire;
}

#custom-os_button:hover {
    background: @green;
    color: @text;
}

#clock {
  background: @green;
  color: @base;
}

#custom-power {
  background: @maroon;
  color: @base;
}

#custom-power:hover {
  color: @text;
  background: @red;
}

#custom-weather {
  background: @blue;
  color: @base;
}

#custom-weather:hover {
  color: @blue;
  background: @base;
}

#cpu {
  background: @yellow;
  color: @base;
}

#memory {
  background: @teal;
  color: @base;
}

#disk {
  background: @mauve;
  color: @base;
}
